.footer__links {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    

}

@media screen and (max-width: 710px) {
    .footer__links {
        flex-direction: column;
        

    }
}
@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
        
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0;
       
        
    }
}