.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px auto 0;

    
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-right: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        
    }
}