.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px auto 0;

    
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 48px;
        margin-right: 48px;
       
   }
}
@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
        
    }
}